body{
    font-family: 'Montserrat', sans-serif;
}
.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #EEA009;
    --bs-btn-border-color: #EEA009;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #EDCA58;
    --bs-btn-hover-border-color: #EDCA58;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #EDCA58;
    --bs-btn-active-border-color: #EDCA58;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #EEA009;
    --bs-btn-disabled-border-color: #EEA009;
    padding: 10px 5rem;
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: #F5F7FB !important;
}

.bg-info {
    --bs-bg-opacity: 1;
    background-color: #2D2741 !important;
  }

  .card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 1px;
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: 2rem;
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(2rem - 1px);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
  }

.logo{
    font-family: 'Alfa Slab One', cursive;  
}

.robo{
    background-image: url(../images/Group\ 6.png);
    background-size: cover;
    height: 100vh;
}

.width{
    width: 95vw;
}

.height100{
    height: 100vh;
}

.ironman{
    width: 70%;
}

.min{
    width: max-content;
}

.img-next{
    width: 50%;
    height: 100%;
}

.underline{
    height: 4px;
    width: 100%;
    border: #EDCA58 0px solid;
    background: linear-gradient(270deg, rgba(255,199,0,1) 0%, rgba(220,1,1,1) 71%);
    border-radius: 100px;
}